@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

#quoteBody{
    display: flex;
    justify-content: center;
}

.container-quote {
    margin: 0 auto;
    width: 50%;
}

.box-quote {
    height: 300px;
    width: 507px;
}

.box-quote > * {
    line-height: 1.5;
}

#button-quote {
    display: flex;
    justify-content: center
}

.quotation-mark-img {
    margin: 0 auto;
    height: 100px;
    width: auto;
    opacity: 0.5;
}

.quotetext {
    font-size: 35px;
    font-family: 'Caveat', cursive;
}

.author {
    font-size: 24px;
    text-align: right;
    font-family: 'Caveat', cursive;
}